.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
}
.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card__delete {
  background: transparent url(../images/trash.svg) center no-repeat;
  margin-top: 18px;
  margin-left: 249px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.card__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  flex-shrink: 0;
}
.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.card__like-active {
  background: url(../images/heartclick.svg);
}
.card__like-active:hover {
  opacity: 0.5;
}
.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
