.footer {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}
.footer__copyright {
  margin-top: 67px;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
}
@media screen and (max-width: 470px) {
  .footer {
    width: 282px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 290px;
  }
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 1.21;
  }
}
