.modal {
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s opacity 0.5s linear;
}

.modal_opened > .modal__container {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s linear 0.3s, opacity 0.3s linear;
}

.modal:hover > .modal__container {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal > .modal__image-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal:hover > .modal__image-container {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close {
  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 3px);
  left: calc(100% + 3px);
  cursor: pointer;
  transition: opacity 0.4s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 195px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  z-index: 2;
  border-radius: 10px;
  position: relative;
}
.modal__container-avatar {
  position: relative;
  width: 430px;
  height: 272px;
  border-radius: 10px;
  margin: auto;
  background-color: #fff;

  margin-top: 224px;
}

.modal__title {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 36px;
  margin-bottom: 0;
  min-width: 358px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #111;
}

.modal__name {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 54px;
  padding-bottom: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.modal__description {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 30px;
  padding-bottom: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.modal__button {
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 48px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  max-width: 358px;
  padding-top: 13px;
  padding-bottom: 13px;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

#confirm-del-button {
  margin-top: 38px;
  width: 358px;
}
#confirm-del-container {
  height: 181px;
}

.modal__button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.modal__image {
  max-width: 75vh;
  max-height: 75vh;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  max-height: 75vh;
  max-width: 75vh;
  z-index: 2;
  position: relative;
}

.modal__image-close {
  margin-left: 76vh;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__image-close:hover {
  opacity: 0.6;
}

.modal__del-container {
  position: relative;
  margin: auto;
  background-color: #fff;
  height: 181px;
  width: 430px;
  border-radius: 10px;
}

#avatar-form-link {
  padding-bottom: 4px;
  padding-top: 54px;
  margin-top: 0;
}
#avatar-form-heading {
  padding-top: 34px;
}
#avatar-form-submit {
  width: 358px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal__container {
    max-width: 282px;
    min-height: 322px;
    margin-top: 123px;
  }

  .modal__button {
    min-width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 45px;

    font-size: 14px;
  }

  .modal__description {
    margin-left: 21px;
    margin-right: 21px;
    min-width: 238px;
  }

  .modal__name {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 75px;
    min-width: 238px;
  }
  .modal__title {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
    min-width: 238px;

    font-size: 18px;
  }
  .modal__close {
    padding-left: 250px;
    margin: 0;
    top: 80px;

    max-width: 26px;
    max-height: 26px;
  }
  .modal__image-container {
    max-width: 240px;
  }
  .modal__close-img {
    width: 26px;
    height: 26px;
  }

  .modal__image-title {
    font-size: 12px;
  }
  .modal__image-close {
    padding-left: 248px;
    margin: 0;
    top: 60px;

    max-width: 26px;
    max-height: 26px;
  }

  .modal__image {
    width: 100%;
  }
  #avatar-form-submit {
    margin-top: 65px;
  }
  #avatar-form-heading {
    width: 230px;
    font-size: 20px;
    align-content: center;
    margin-bottom: 60px;
    margin-left: 25px;
  }
  .modal__del-container {
    height: 200px;
    width: 282px;
  }
}
